body  {
    background-image: url("images/setbg.png");
    background-color: #cccccc;
}

img {
    display: block;
    width: 1300px;
    height: 940px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #eebbc3;
}

.btn {
    position: absolute;
    background-color: #eebbc3;
    border: none;
    padding: 15px;
    border-radius: 45%;
    transition: 0.5s ease;
}
.btn:hover {
    background-image: url("images/flow.png");
    Background-size: 100%;
    background-color: #ee8f9d;
    border-radius: 35%;
    opacity: 1;
}

.btn1 {
    top: 25%;
    left: 41%;
}
.btn2 {
    top: 80%;
    left: 25%;
}
.btn3 {
    top: 76%;
    left: 42%;
}
.btn4 {
    top: 60%;
    left: 47%;
}
.btn5 {
    top: 58%;
    left: 64%;
}
.btn6 {
    top: 50%;
    left: 55%;
}
.btn7 {
    top: 20%;
    left: 55%;
}
.btn8 {
    top: 35%;
    left: 75%;
}
.btn9 {
    top: 42%;
    left: 45%;
}
.btn10 {
    top: 5%;
    left: 57%;
}